*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    border-radius: 3%;
}
.left{
    width: 95vw;
    height: 100%;
    background:black;
    box-sizing: border-box;
}
.right{
    width: 50vw;
    height: 100%;
    background:cyan;
    border-left: 100px solid black;
    border-bottom: 100vh solid transparent;
    box-sizing: border-box;

}
.main{
    position: absolute;
    height: 80vh;
    width: 80vw;
    top: 100px;
    left: 130px;
    border-radius: 3%;
    display: flex;
    background-color: violet;
}