*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.left{
    width: 95vw;
    height: 100%;
    background:black;
    box-sizing: border-box;
}
.right{
    width: 50vw;
    height: 100%;
    background:cyan;
    border-left: 100px solid black;
    border-bottom: 100vh solid transparent;
    box-sizing: border-box;
    /* clip: rect(11115px,5px,5px,5px); */

}
.main{
    position: absolute;
    height: 80vh;
    width: 80vw;
    top: 100px;
    left: 130px;
    border-radius: 3%;
    display: flex;
    clip: rect();
}
.l{
    height: 100%;
    width: 50%;
    background-color:yellow;
     background-image: url(../images/gi.jpg); 
     object-fit: fill; 
     background-repeat: no-repeat; 
     background-size: 100% 100%; 

}
.r{
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: 1;
}
.logos{
    margin-top: 560px;
    MARGIN-LEFT: 257px;
}
.form-check {
    /* display: flex; */
    margin-bottom: 25px;
    /* margin-left: 10%; */
    border: yellow;
}
.cont{
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    /* padding: 35px; */
    height: 200px;
    /* border: 2px solid green; */
}
.input-field {
     width: 50%; 
    padding: 10px;
    outline: none;
    background: transparent;
    color: white;
    outline-style: none;
  }
  ::placeholder{
    color: white;
}
.forget{
    margin-top: -20px;
    padding-left: 130px;
}
a{
    color: grey;
}
.button{
     margin-top: 40px; 
    cursor: pointer;
}
.v{
    cursor: pointer;
}
.but{
    background-color: cyan;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
}
.welcome{
border: 2px solid white;
margin-bottom: 25px;
}
.icn{
    border: 2px solid white;
    margin-bottom: 25px;
}

.or{
    border: 2px solid white;
    margin-bottom: 25px;
}
button:hover{
    background-color: black;
}
.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
     overflow: hidden; 
    border: 1px solid white;
    font-size: 1rem;
     width: 30px; 
     height: 30px; 
     margin-top: 150px;
}
.icon-wrapper i {
    color:white;
}
.para{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.welc{
    color: white;
    margin-left: 210px;
    font-size: 50px;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 60px;
}
.form-check {
	margin-bottom: 5px;
	padding-bottom: 15px;
	position: relative;
	width: 90%;
	
}

.form-check label {
	display: inline-block;
	margin-bottom: 1px;
}

.form-check input {
	
    margin-top: 30px;
	margin-left: 30px;
    color:white;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
     
	/* border-radius: 4px; */
	/* display: block; */
	font-family: inherit;
    
	font-size: 15px;
	padding: 1px;
	width: 100%;
    transition: all 0.8s;
}
.form-check ::-webkit-input-placeholder{
    color: white;
    opacity: 0.7;
}

.form-check input:focus {
	outline: 0;
	border-color: rgba(0, 81, 255, 0.534);
}

.form-check.success input {
	border-color: #2ecc71;
	
}

.form-check.error input {
	border-color: #e74c3c;
}
/* ################################## Form Error mssg Design ################################################ */
.form-check small {
	color: #e74c3c;
	position: absolute;
	margin-left: 30px;
	bottom: 0;
	left: 0;
	visibility: hidden;
	
}

.form-check.error small {
	visibility: visible;
	transition: all 0.9s;
}
/* ################################## Form Button Design ################################################ */


/* ################################## Form Icon Design ################################################ */
  .form-check i{
	  position: absolute;
	  transform: translateY(105%);
	  font-size: 25px;
	  color: #ffffff;
	  transition: all 0.5s;
  }
  
  .form-check.success i{
	color: #2ecc71;
	position: absolute;
	  transform: translateY(105%);
	  font-size: 25px;
	
}
.form-check.error i{
	color: #e74c3c;
	position: absolute;
	  transform: translateY(105%);
	  font-size: 25px;
}