*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.left{
    width: 95vw;
    height: 100%;
    background:black;
    box-sizing: border-box;
}
.right{
    width: 50vw;
    height: 100%;
    background:cyan;
    border-left: 100px solid black;
    border-bottom: 100vh solid transparent;
    box-sizing: border-box;
    /* clip: rect(11115px,5px,5px,5px); */

}
.main{
    position: absolute;
    height: 80vh;
    width: 80vw;
    top: 100px;
    left: 130px;
    border-radius: 3%;
    display: flex;
    clip: rect();
}
.l{
    height: 100%;
    width: 50%;
    background-color:yellow;
     background-image: url(../images/gi.jpg); 
     object-fit: fill; 
     background-repeat: no-repeat; 
     background-size: 100% 100%; 

}
.r{
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: 1;
}
.logos{
    margin-top: 560px;
    MARGIN-LEFT: 257px;
}
.input-container {
    /* display: flex; */
    margin-bottom: 25px;
    /* margin-left: 10%; */
    border: yellow;
}
.cont{
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    /* padding: 35px; */
    height: 200px;
    /* border: 2px solid green; */
}
.input-field {
     width: 50%; 
    padding: 10px;
    outline: none;
    background: transparent;
    color: white;
    outline-style: none;
  }
  ::placeholder{
    color: white;
}
.forget{
    margin-top: -20px;
    padding-left: 130px;
}
a{
    color: grey;
}
.button{
    margin-top: 40px;
}
.but{
    background-color: cyan;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
}
.welcome{
border: 2px solid white;
margin-bottom: 25px;
}
.icn{
    border: 2px solid white;
    margin-bottom: 25px;
}

.or{
    border: 2px solid white;
    margin-bottom: 25px;
}
button:hover{
    background-color: black;
}
.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
     overflow: hidden; 
    border: 1px solid white;
    font-size: 1rem;
     width: 30px; 
     height: 30px; 
     margin-top: 150px;
}
.icon-wrapper i {
    color:white;
}
.para{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.welc{
    color: white;
    margin-left: 210px;
    font-size: 50px;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 60px;
}