*{
    margin: 0%;
    padding: 0%;
}
.container{
    background-image: url("../images/tr.jpg");
    background-size: cover;
    opacity: 0.7;
    object-fit: fill;
    width: 100vw;
    height: 100vh; 
    display: flex;
}
.left{
    height: 100vh;
    width: 50vw;
}
.right{
    height: 100vh;
    width: 50vw;
    height: 100vh;
    background-image: url("../images/c.png");
    background-size: cover;
    object-fit: fill;
    opacity: 0.5;
}
.text{
    position: absolute;
    top: 600px;
    right: 320px;
    color: white;
}
.link{
    color: white;
}
.form-section{
    margin-top: 20%;
    width: 530px;
}
.login{
    color: white;
    padding-left: 180px;
}
.input-container {
    display: flex;
    margin-bottom: 15px;
    position: relative;
    /* margin-left: 10%; */
}
.scontainer {
	/* background-color: #fff; */
	border-radius: 5px;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
	overflow: hidden;
	width: 400px;
    margin-left: 180px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	/* background-color: #f7f7f7; */
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
    color: white;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
    color: white;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
    background: transparent;
    color: white;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}
.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}
.form-control small {
	color: darkred;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}
.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: darkred;
}
::placeholder{
    color:white;
}
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: darkred;
	visibility: visible;
}
.form-control.error small {
	visibility: visible;
}


/* .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    color: white;
  } */

/* .input-field:focus {
    border: 1px solid white;
} */
/* .btn {
    background-color:black;
    height: 40px;
    margin-left: 170px;
    color: white;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;

} */
/* .login-btn{
    height: 30px;
}
.btn:hover {
    opacity: 1;
}*/
.but{
    background-color: transparent;
    margin-left: 8px;
    margin-top: 10px;
    border: none;
    font-size: large;
}
.but:hover {
    opacity: 1;
}
.button{
    color: white;
    text-decoration: none;
} 

.indicator{
	height: 5px;
	width: 100%;
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: none;
	transition: all 1s;
  }

.indicator span{
	position: relative;
	height: 100%;
	width: 100%;
	background: lightgrey;
	border-radius: 5px;
  }
.indicator span:nth-child(2){
	margin: 0 3px;
  }
.indicator span.active:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 5px;
  }
.indicator span.weak:before{
	background-color: #ff4757;
  }
.indicator span.medium:before{
	background-color: orange;
  }
.indicator span.strong:before{
	background-color: #23ad5c;
  }

.text{
	font-size: 15px;
	margin-left: 30px;
    font-variant-alternates: ornaments();
    font-weight: 600;
	display: none;
	margin-bottom: 2px;
  }
.text.weak{
	color: #ff4757;
  }
.text.medium{
	color: orange;
  }
.text.strong{
	color: #23ad5c;
  }